.character {
    background-color: lightcyan;
    border: 1px solid black;
    padding: .5rem;
    width: 30%;

    display: flex;
    flex-flow: column nowrap;

    & div, h2 {
        font-weight: bold;
        text-align: center;
    }
}