<div class="body-container">
    <button id="modal-open" class="modal-open--show" *ngIf="!(modalOpen)" (click)="showModal()">Abrir modal</button>
    <button id="modal-open" class="modal-open--hide" *ngIf="modalOpen" (click)="showModal()">Abrir modal</button>
    <div *ngIf="modalOpen" class="modal-window">
        <h2 class="modal-title">Ventana</h2>
        <button id="modal-close" (click)="closeModal()">X</button>
        <p class="modal-text">Esta es una ventana para el ejercicio del día 03.03.2021 del curso JavaScript y Angular</p>
        <button id="modal-button" (click)="closeModal()">Cerrar</button>
    </div>
</div>