// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: initial;
}


// function for styling texts
@mixin text-style($size, $weight, $transform, $spacing, $height, $align) {
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    letter-spacing: $spacing;
    line-height: $height;
    text-align: $align;
}


//function for underline/strike initial effect
@mixin text-initial-effect($bottom) {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;

    display: flex;
    position: absolute;
    bottom: $bottom;
    left: 0;

    transition: all .4s ease;
    transform: scaleX(0);
    transform-origin: left;
}


//function for underline/strike ending effect
@mixin  text-ending-effect {
    transform: scaleX(1);
    transform-origin: right;
}


// css body
body {
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    background-color: #ffffff;
}


// css header
.header {
    width: 100%;
    position: relative;
}

.header__container {
    width: 90%;
    max-width: 1600px;
    min-height: 10vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1;
    background-color: transparent;
    @include flexible(row, nowrap, space-between, center);
}

.header__title {
    width: 30%;
    @include text-style(1.3rem, 700, uppercase, .2rem, 1.5rem, left);
}

.header__nav {
    width: 55%;
}

.header__nav-list {
    @include flexible(row, wrap, flex-start, center);
    @include text-style(1rem, 700, capitalize, .1rem, 1.5rem, left);
}

.header__nav-item {
    margin-right: 3rem;
    position: relative;

    &::after {
        @include text-initial-effect(0px);
    }

    &:hover::after {    
        @include text-ending-effect();
    }
}

.header__contact-container {
    width: 15%;
}

.header__contact-list {
    @include flexible(row, nowrap, flex-end, center);
    @include text-style(1rem, 700, capitalize, .1rem, 1.5rem, left);
}

.header__contact-item {
    margin-left: 3rem;
    position: relative;

    // subrayado
    &--underline {

        &::after {
            @include text-initial-effect(0px);
        }

        &:hover::after {    
            @include text-ending-effect();
        }
    }

    // tachado
    &--strike {

        &::after {
            @include text-initial-effect(10px);
        }

        &:hover::after {    
            @include text-ending-effect();
        }
    }
}


// css main
.main {
    width: 100%;
  }
  
.main__image {
    width: 100%;
    padding: 35vh 0;
    position: relative;
    background-image: url("../assets/360-offices.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main__text {
    width: 90%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.main__button {
    color: #000000;
    background-color: #ffffff;
    width: 20%;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    @include text-style(1rem, 700, initial, 0, 1rem, left);
}

.main__title {
    margin: 1rem 0;
    @include text-style(6.5rem, 700, initial, .2rem, 7.5rem, left);
}

.main__subtitle {
    margin: 1rem 0;
    @include text-style(1.1rem, 700, initial, .1rem, 1.5rem, left);
}

.main__top1 {
    width: 80%;
    margin: auto;
    padding: 3rem 0;
    @include flexible(row, nowrap, space-between, center);

    & .top1__text1 {
        padding: 1rem 0;
        color: #000000;
        @include text-style(1rem, 700, initial, 0, 1.5rem, left);
    }
    
    & .top1__text2 {
        padding: 1rem 0;
        color: #000000;
        @include text-style(1.8rem, 700, initial, 0, 1.5rem, left);
    }
    
    & .top1__text3 {
        padding: 1rem 0;
        color: #a7a7a7;
        @include text-style(1.2rem, 700, initial, 0, 1.5rem, left);
    }
}

.main__top2 {
    width: 80%;
    margin: auto;
    padding: 3rem 0;
    @include flexible(row, nowrap, space-between, center);

    & .top2__text {
        padding: 1rem 0;
        color: #000000;
        @include text-style(1rem, 700, initial, 0, 0, left);
    }
}

.main__top3 {
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    & .top3__text1 {
        color: #000000;
        @include text-style(1.9rem, 700, initial, 0, 2rem, left);
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    & .top3__text2 {
        color: #000000;
        @include text-style(2.5rem, 700, initial, 0, 3rem, left);
        grid-column: 3 / 7;
        grid-row: 1 / 2;
    }

    & .top3__text3 {
        color: #555c62;
        @include text-style(1.1rem, 700, initial, 0, 2rem, left);
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    & .top3__text4 {
        color: #555c62;
        @include text-style(1.1rem, 700, initial, 0, 2rem, left);
        grid-column: 5 / 7;
        grid-row: 2 / 3;
    }
}

.main__top4 {
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;

    & .top4__text1 {
        color: #000000;
        @include text-style(.9rem, 700, uppercase, 0, 1.2rem, left);
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    & .top4__text2 {
        color: #000000;
        @include text-style(1.6rem, 700, initial, 0, 3rem, left);
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    & .top4__text3 {
        color: #000000;
        @include text-style(1.6rem, 700, initial, 0, 3rem, left);
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    & .top4__text4 {
        color: #000000;
        @include text-style(1.6rem, 700, initial, 0, 3rem, left);
        grid-column: 2 / 4;
        grid-row: 4 / 5;
    }
}