<footer class="footer">
    <div class="footer__div">
        <ul class="footer__rrss">
            <li><a href="http://www.facebook.com" title="Facebook" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="http://www.twitter.com" title="Twitter" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://www.instagram.com" title="Instagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
            <li><a href="http://www.youtube.com" title="YouTube" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <ul class="footer__policy">
            <li><a href="#" title="privacy policy">privacy policy</a></li>
            <li><a href="#" title="terms of use">terms of use</a></li>
            <li><a href="#" title="your California privacy rights">your California privacy rights</a></li>
            <li><a href="#" title="children's online privacy policy">children's online privacy policy</a></li>
            <li><a href="#" title="interest-based ads">interest-based ads</a></li>
            <li><a href="#" title="do not sell my info">do not sell my info</a></li>
        </ul>
        <p class="footer__copyright">© 1986-2020 Disney / Pixar</p>
    </div>
</footer>