/*** css keyframes ***/

// animación para el efecto del pulso
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(33,166,174, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(33,166,174, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(33,166,174, 0);
    }
  }