/*** css mixins ***/

// función para maquetación flex
@mixin flexible($flex-direction, $flex-wrap, $justify-content, $align-item, $align-content) {
    align-content: $align-content;
    align-items: $align-item;
    display: flex;
    flex-flow: $flex-direction $flex-wrap;
	justify-content: $justify-content;
}


// función para el inicio del efecto de subrayado
@mixin text-initial-effect($color) {
    content: "";
    background-color: $color;
    bottom: 0;
    display: flex;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .4s ease;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
}


// función para el final del efecto de subrayado
@mixin text-ending-effect {
    transform: scaleX(1);
    transform-origin: right;
}


// función para el inicio de la vida laboral
@mixin line-initial-circle($color) {
    content: "";
    background: $color;
    border: 1px solid $color;
    border-radius: 50%;
    height: 5px;
    margin-left: -3px;
    position: absolute;
    top: 0;
    width: 5px;
}


// función para el final de la vida laboral
@mixin line-ending-circle($color) {
    content: "";
    background: $color;
    border: 1px solid $color;
    border-radius: 50%;
    bottom: 0;
    height: 5px;
    margin-left: -3px;
    position: absolute;
    width: 5px;
}