<h2>Personajes de Rick y Morty</h2>
<div id="gridCharacters">
    <!-- el atributo [routerLink] redirige al hacer clic a la dirección indicada + parámetro con la id -->
    <div *ngFor="let character of characterList" [routerLink]="['/character-detail', character.id]" class="character">
        <img [src]="character.image" alt="">
        <div>{{character.name}} ({{character.species}})</div>
    </div>
</div>
<button type="submit" [disabled]="!urlPrevious" (click)="previousList()">Anterior</button>
<button type="submit" [disabled]="!urlNext" (click)="nextList()">Siguiente</button>