#gridCharacters {
    display: flex;
    flex-flow: row wrap;
}

.character {
    background-color: lightblue;
    border: 1px solid black;
    cursor: pointer;
    padding: .5rem;

    & div {
        font-weight: bold;
        text-align: center;
    }
}