// css reset

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

form, input, textarea, select, option {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: normal;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: initial;
}


// css body
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: #ffffff;
}


// css cookies
.cookies {
    width: 100%;
    min-height: 7vh;
    margin: auto;
    padding: 0 8rem;
    background-color: #f2f2f2;
    
    @include flexible(row, nowrap, space-between, center);

    @media screen and (max-width:760px) {
        @include flexible(column, nowrap, flex-start, center);
    }
}

.cookies--hide {
    display: none;
}

.fa-info-circle {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.cookies__text {
    font-size: .8rem;
    text-align: left;

    @media screen and (max-width:760px) {
        margin: .5rem 0;
    }
}

.cookies__link {
    color: blue;
}

.cookies__buttons {
    @include flexible(row, nowrap, flex-end, center);

    @media screen and (max-width:760px) {
        @include flexible(column, nowrap, space-between, center);
    }
}

.cookies__btn {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    background-color: #dbdbdb4d;

    @media screen and (max-width:760px) {
        
        margin: .5rem 0;
    }
}

.cookies__btn:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}


// css header
.header {
    width: 100%;
    min-height: 5vh;
}

.header__container {
    width: 85%;
    max-width: 1600px;
    margin: auto;
    padding: 1rem 0;

    @include flexible(row, nowrap, space-between, center);

    @media screen and (max-width:760px) {
        width: 100%;
    }
}

.header__container-nav {
    @include flexible(row, nowrap, flex-start, center);

    @media screen and (max-width:760px) {
        display: none;
    }
}

.header__logo {
    width: 7.5rem;
}

.header__nav-list {
    margin: 0 1rem;

    @include flexible(row, nowrap, flex-start, center);
}

.header__nav-item {
    margin: 0 1rem;
    font-size: .8rem;
    text-align: left;
    line-height: calc(2rem - 3px);
    border-bottom: solid 3px #ffffff;
}

.header__container-search {

    @media screen and (max-width:760px) {
        display: none;
    }
}

.header__search-list {
    @include flexible(row, nowrap, flex-end, center);
}

.header__search-item {
    margin: auto;
    font-size: .8rem;
    text-align: left;
    line-height: calc(2rem - 3px);
    border-bottom: solid 3px #ffffff;
}

.header__item--underline {
    transition: all .4s ease;
}

.header__item--underline:hover {
    border-bottom: solid 3px #262626;
}

.header__item--icon {
    margin-left: .5rem;
    margin-right: 1.5rem;
}

.header__item--hide {

    @media screen and (max-width:1380px) {
        display: none;    
    }
}


// css bars header
.header__container-bars {
    display: none;

    @media screen and (max-width:760px) {
        width: 100%;
        display: flex;    

        @include flexible(row, nowrap, space-between, center);
    }
}

.header__bars-logo {
    width: 7.5rem;
}

.header__bars-list {
    margin: 0 1rem;

    @include flexible(row, nowrap, flex-start, center);
}

.header__bars-item {
    margin: 0 1rem;
    font-size: 1rem;
    text-align: left;
}


// bxSlider
.main__slider {
    width: 85%;
    max-width: 1600px;
    margin: .5rem auto;
}

.bx-wrapper {

    // quitamos bordes y sombras
    box-shadow: none;
    border: none;

    transition: all .4s ease;

    // movemos los botones dentro del slider
    & .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        width: 49%;
        height: 35px;
        bottom: 30px;
        padding-top: 0;
        text-align: left;

        @include flexible(row, nowrap, flex-end, center);
    }

    & .bx-pager {

        // cambiamos el color de fondo de cada botón
        &.bx-default-pager a {
            width: 8px;
            height: 8px;
            border: solid 1px #000000;
            background: transparent;

            transition: all .4s ease;

            // cambiamos el color de fondo al pasar el ratón
            &:hover {
                background: gray;
            }
        }
    }

    // movemos los controles dentro del slider
    & .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        width: 49%;
        height: 35px;
        bottom: 30px;
        padding-top: 0;
        text-align: left;

        @include flexible(row, nowrap, flex-start, center);
    }

    // mostramos los botones cuando no están activos
    & .bx-controls-auto .bx-stop, & .bx-controls-auto .bx-start {
        display: block;
    }
    
    // ocultamos los botones cuando están activos
    & .bx-controls-auto .bx-stop.active, & .bx-controls-auto .bx-start.active {
        display: none;
    }

    // cambiamos el aspecto de las fechas
    & .bx-controls-direction a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: -25px;
        border: solid 1px gray;
        font-size: 1.5rem;
        text-indent: 0;
        background-color: #fafafa;
        background-image: none;
        opacity: 0;

        @include flexible(row, nowrap, center, center);
        
        transition: all .4s ease;

        // damos sombra al pasar el ratón
        &:hover {
            box-shadow: 0 4px 8px rgba(0,0,0,.2);
        }
    }

    // mostramos las flechas cuando pasamos el ratón sobre el slider
    &:hover .bx-controls-direction a {
        opacity: 1;
    }
}


// cajas con textos
.slider__text {
    width: 35%;
    color: #000000;
    text-align: left;
    position: absolute;
    top: calc(40%);
    left: 6%;
}

.slider__text2 {
    top: calc(10%);
}

.slider__title {
    font-size: 2.1rem;
    font-weight: 500;
}

.slider__description {
    font-size: 1rem;
}

.link__container {
    width: 75%;
    margin: 1rem 0;

    @include flexible(row, nowrap, flex-start, center);
}

.slider__text-link {
    width: 50%;
    padding: 1rem .5rem;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
    background-color: #a80000;

    @include flexible(row, nowrap, center, center);  

    &:hover {

        .slider__text-span--left {
            transform: translateX(-5px);
        }

        .slider__text-span--right {
            transform: translateX(5px);
        }

        .slider__text-span--underline {
            text-decoration: underline;
        }
    }
}

.slider__text-link2 { 
    color: #a80000;
    background-color: transparent;
}

.slider__text-span {
    margin: 0 .2rem;
    transition: all .4s ease;
}