<main class="main">
    <section class="main__soul">
        <h2><a href="#" title="Soul"><img src="../../../assets/img/logo.png" alt="imagen de Soul"></a></h2>
    </section>
    <div class="main__columnas">
        <section>
            <a href="#" title="careers at Pixar"><img src="../../../assets/img/image-asset.jpeg" alt="imagen 1"></a>
            <h3>{{title1}}</h3>
        </section>
        <section>
            <a href="#" title="Soul trailers"><img src="../../../assets/img/soul_2.jpg" alt="imagen 2"></a>
            <h3>{{title2}}</h3>
        </section>
        <section>
            <a href="#" title="inclusion and outreach"><img src="../../../assets/img/io2.jpg" alt="imagen 3"></a>
            <h3>{{title3}}</h3>
        </section>
    </div>
</main>