// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// css body
.text__container {
    background-color: lightgray;
    height: 100vh;
    overflow: auto;
    position: relative;
    width: 100%;
}

.text__description{
    padding: 1rem;
    text-align: justify;
}

.text__bar{
    background-color: lightgreen;
    color: blue;
    height: 1rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 0px;
}