/* css reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: normal;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}


/* css style */

.primera {
    width: 90%;
    margin: 20px auto;
    background-color: lightgoldenrodyellow;
}

.primera .efecto {
    width: calc(100% / 5 - 2rem);
    margin: 1rem;
    float: left;
    position: relative;
    overflow: hidden;
}

/* ocultamos el texto y lo movemos en vertical */

/* .primera .efecto .imagen {} */

.primera .efecto .texto {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .5;
    background-color: lightblue;
    transition: all .4s ease;
    transform: scale(1) rotate(0deg) translateY(100%);
}

.primera .efecto:hover .texto {
    transform: translateY(0%);
}

.segunda {
    width: 70%;
    margin: 20px auto;
    background-color: lightblue;
}

.segunda .efecto {
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    float: left;
    position: relative;
}

/* rotamos el texto inicialmente para ocultarlo y hacerlo aparecer después */

/* .segunda .efecto .imagen {} */

.segunda .efecto .texto {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .7;
    background-color: lightgoldenrodyellow;
    transition: all .4s ease;
    transform-origin: bottom;
    transform: scale(1) rotate(0deg) translateY(0%) rotateY(90deg);
}

.segunda .efecto:hover .texto {
    transform: rotateY(0deg);
}

.tercera {
    width: 90%;
    margin: 20px auto;
    background-color: lightgoldenrodyellow;
}

.tercera .efecto {
    width: calc(100% / 5 - 2rem);
    margin: 1rem;
    float: left;
    position: relative;
}

/*  */

.tercera .efecto .imagen {
    transition: all .4s ease;
    transform: scale(1) rotate(0deg) translateY(0%);
}

.tercera .efecto .texto {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: lightblue;
    transition: all .4s ease;
    transform: scale(1) rotate(0deg) translateY(0%);
}

.tercera .efecto:hover .imagen {
    filter: sepia(.5);
    transform: scale(.8);
}

.tercera .efecto:hover .texto {
    transform: translateY(-500%);
}