// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// css body
h1 {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.calendar__container {
    background-color: coral;

    @include flexible(row, wrap, center, baseline, initial);

    & .month__container {
        margin: 1rem;
        border: 1px solid black;
        background-color: khaki;

        & .month__title {
            padding: .5rem 0;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }

        & .month__table {
            padding: .5rem;

            & thead th {
                padding: 1rem 0;
                font-size: 1.2rem;
                font-weight: bold;
            }

            & tbody td {
                padding: .5rem;
                text-align: center;
                border: 1px solid black;
            }
        }
    }
}