// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// css body
body {
    background-color: lightgray;
    width: 100%;
}

.image__container {
    background-image: url("../assets/img/thumb-1920-1047038.jpg");
    background-repeat: no-repeat;
    // background-position: center;

    border-radius: 20px;
    margin: 2rem auto;
    min-height: 90vh;
    width: 75%;
}