// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// css body
h1 {
    font-size: 2rem;
    font-weight: bolder;
}

p {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

#gridPeople {
    margin: 1rem 0;
    @include flexible(column, nowrap, center, flex-start, initial);
}

.people {
    background-color: lightcyan;
    border: 1px solid black;
    min-width: 20%;
    padding: 1rem;
}

.buttons {
    border: 1px solid gray;
    cursor: pointer;
    padding: 1rem;
}