// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// slider
.slider__container {
    overflow: hidden;
    width: 100%;
}

.slider__main {
    position: relative;
    width: 400%;

    @include flexible(row, nowrap, center, center, initial);
}

.slider__images {
    width: 100%;
    
    @include flexible(row, nowrap, flex-start, center, initial);
}

.slider__img {
    cursor: pointer;
    height: 30vh;
    width: calc(100% / 4);
}

.slider__big-img {
    height: 70vh;
    width: 100%;
}