/* css reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

form, input, textarea, select, option {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: normal;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}


/* css body */

// creamos un objeto con dos parámetros y varias propiedades
@mixin flexible($direccion, $multilinea) {
    display: flex;
    flex-flow: $direccion $multilinea;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
}

#cuadrado {
    width: 200px;
    height: 200px;
    background-color: khaki;
}

.cuadrado-crece {
    padding: 50px;
}

.lista {
    background-color: lavender;
    
    @include flexible(row, nowrap); // utilizamos el objeto con todas las propiedades
}