/*** css import ***/
@import "_reset/reset", "_reset/vars", "_reset/mixins", "_reset/keyframes", "_reset/fonts";


/*** css body ***/
body {
    background-color: #ffffff;
    font-family: "Montserrat-Regular", sans-serif;
}


/*** css header ***/
.header {
    width: 100%;

    & .header__container {
        line-height: 2rem;
        margin: auto;
        max-width: 1200px;
        min-height: 10vh;
        width: 80%;

        @include flexible(row, nowrap, space-between, flex-end, initial);

        & .header__title {
            width: 20%;
        }

        /*** Navegación ***/
        & .header__nav {
            width: 80%;

            & .header__list {
                width: 100%;

                @include flexible(row, nowrap, space-around, center, initial);
            
                & .header__item {
                    color: $main-color;
                    font-family: "Montserrat-Bold", sans-serif;
                    letter-spacing: .1rem;
                    padding: 0 .2rem;
                    position: relative;
                    text-transform: lowercase;
                    transition: all .4s ease;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &::after {
                        @include text-initial-effect($main-color);
                    }
                
                    &:hover::after {    
                        @include text-ending-effect();
                    }
                }
            }
        }
    }
}


/*** css main ***/
.main {
    width: 100%;

    /*** Bio ***/
    & .main__bio {
        margin: auto;
        max-width: 1200px;
        min-height: 10vh;
        width: 80%;

        @include flexible(column, nowrap, space-around, flex-start, initial);
    
        /*** presentación ***/
        & .bio__title, .bio__subtitle {
            color: $secondary-color;
            font-family: "Montserrat-ExtraBold", sans-serif;
            font-size: 3rem;
            line-height: 5rem;
            text-align: left;
            width: 100%;
        }

        /*** rrss ***/
        & .bio-rrss {
            padding: 2.5rem 0;
            width: 100%;
            
            & .bio-rrss__list {
                width: 20%;

                @include flexible(row, nowrap, space-between, flex-end, initial);

                & .bio-rrss__item {
                    color: $main-color;
                    font-family: "Montserrat-Bold", sans-serif;
                    font-size: 2rem;
                    text-align: left;
                    transition: all .4s ease;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }

    /*** Viajes ***/
    & .main__travel {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: auto;
        max-width: 1200px;
        min-height: 25vh;
        width: 80%;

        & .travel-section__item {
            position: relative;

            &:hover {

                // bajamos opacidad a la imagen para ver el texto
                .travel-section__img {
                    opacity: .2;
                }

                // subimos opacidad al texto para verlo
                .travel-section__text {
                    opacity: .9;
                    transform: translateX(25%);
                }

                // diferente movimiento en imágenes pequeñas
                .travel-section__text--small {
                    transform: translateX(20%);
                }
            }
        }

        // posicionamiento grid de cada elemento
        & .travel-section__item--florencia {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }

        & .travel-section__item--venecia {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        & .travel-section__item--paris {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }

        & .travel-section__item--atenas {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        & .travel-section__item--londres {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }

        & .travel-section__img {
            transform: scale(1) rotate(0deg) translateY(0%); 
            transition: all .4s ease;  
        }

        & .travel-section__text {
            color: $main-color;
            font-size: 2rem;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 20%;
            transform: scale(1) rotate(0deg) translateY(0%);
            transition: opacity .4s ease;
            transition: transform 1.5s ease;
            width: 100%;
        }

        & .travel-section__text--small {
            font-size: 1.2rem;
        }
    }
}