/*** css import ***/
@import "_reset/reset", "_reset/vars", "_reset/mixins", "_reset/keyframes", "_reset/fonts";


/*** css body ***/
body {
    background-color: #ffffff;
    font-family: "Montserrat-Regular", sans-serif;
}


/*** css header ***/
.header {
    width: 100%;

    & .header__container {
        line-height: 2rem;
        margin: auto;
        max-width: 1200px;
        min-height: 10vh;
        width: 80%;

        @include flexible(row, nowrap, space-between, flex-end, initial);

        & .header__title {
            width: 20%;
        }

        & .header__nav {
            width: 80%;

            & .header__list {
                width: 100%;

                @include flexible(row, nowrap, space-around, center, initial);
            
                & .header__item {
                    color: $main-color;
                    font-family: "Montserrat-Bold", sans-serif;
                    letter-spacing: .1rem;
                    padding: 0 .2rem;
                    position: relative;
                    text-transform: lowercase;
                    transition: all .4s ease;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &::after {
                        @include text-initial-effect($main-color);
                    }
                
                    &:hover::after {    
                        @include text-ending-effect();
                    }
                }
            }
        }
    }
}


/*** css main ***/
.main {
    width: 100%;

    & .main__who {
        margin: auto;
        max-width: 1200px;
        min-height: 10vh;
        width: 80%;

        @include flexible(column, nowrap, space-around, center, initial);
    }
}