* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, video {
  width: 100%;
  display: block;
  object-fit: cover;
}

iframe {
  width: 100%;
  display: block;
}

form, input, textarea, select, option {
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: normal;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: "Cabin", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

.header {
  width: 100%;
  position: relative;
}

.header__container {
  width: 90%;
  max-width: 1600px;
  min-height: 10vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 1;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
@media screen and (max-width: 960px) {
  .header__container {
    display: none;
  }
}

.header__title {
  width: 30%;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
  text-align: left;
  color: #ffffff;
}

.header__nav {
  width: 55%;
}

.header__nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: initial;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  text-align: left;
  color: #ffffff;
}

.header__nav-item {
  margin-right: 3rem;
  position: relative;
}
.header__nav-item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.header__nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.header__contact-container {
  width: 15%;
}

.header__contact-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: initial;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  text-align: left;
  color: #ffffff;
}

.header__contact-item {
  margin-left: 3rem;
  position: relative;
}
.header__contact-item--underline::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.header__contact-item--underline:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
.header__contact-item--strike::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: all 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.header__contact-item--strike:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.header__div-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .header__div-icon {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
  }
}

.header__icon {
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.header__icon-title {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.main {
  width: 100%;
}

.main__video {
  width: 100%;
  min-height: 60rem;
  position: relative;
  overflow: hidden;
}

.main__movie {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

.main__text {
  width: 90%;
  position: relative;
  padding: 10rem;
}
.main__text .main__button {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 20px;
  display: inline-flex;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1rem;
  text-align: left;
  color: #000000;
}
.main__text .main__title {
  margin: 1rem 0;
  font-size: 6.5rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0.2rem;
  line-height: 7.5rem;
  text-align: left;
  color: #ffffff;
}
.main__text .main__subtitle {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  text-align: left;
  color: #ffffff;
}

.main__top1 {
  width: 80%;
  margin: auto;
  padding-left: 10rem;
  position: absolute;
  bottom: 0;
  left: 0%;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.main__top1 .top1__text1 {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: left;
  color: #000000;
}
.main__top1 .top1__text2 {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: left;
  color: #000000;
  position: relative;
}
.main__top1 .top1__text2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.main__top1 .top1__text2:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
.main__top1 .top1__text3 {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: left;
  color: #a7a7a7;
}
.main__top1 .top1__text3--black {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1.5rem;
  text-align: left;
  color: #000000;
}
.main__top1 .opacity-effect {
  opacity: 0.5;
}

.main__top2 {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.main__top2 .top2__text {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 0;
  text-align: left;
  color: #000000;
}

.main__top3 {
  width: 80%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.main__top3 .top3__text1 {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  color: #000000;
  grid-column: 1/2;
  grid-row: 1/4;
}
.main__top3 .top3__text2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  grid-column: 3/7;
  grid-row: 1/2;
}
.main__top3 .top3__text3 {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  color: #555c62;
  grid-column: 3/5;
  grid-row: 2/3;
}
.main__top3 .top3__text4 {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  color: #555c62;
  grid-column: 5/7;
  grid-row: 2/3;
}

.main__top4 {
  width: 80%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}
.main__top4 .top4__text1 {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.2rem;
  text-align: left;
  color: #000000;
  grid-column: 2/4;
  grid-row: 1/2;
}
.main__top4 .top4__text2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  cursor: pointer;
  grid-column: 2/4;
  grid-row: 2/3;
}
.main__top4 .top4__text3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  cursor: pointer;
  grid-column: 2/4;
  grid-row: 3/4;
}
.main__top4 .top4__text4 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  cursor: pointer;
  grid-column: 2/4;
  grid-row: 4/5;
}

.main__center1 {
  width: 100%;
  padding: 35vh 0;
  position: relative;
  background-image: url("../assets/360-preview.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main__center1 .center1__button {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 20px;
  display: inline-flex;
  position: absolute;
  top: 45%;
  left: 40%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1rem;
  text-align: left;
  color: #000000;
}

.main__center2 {
  width: 80%;
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.main__center2 .center2__text {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 0;
  text-align: left;
  color: #000000;
}

.main__center3 {
  width: 80%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}
.main__center3 .center3__text1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main__center3 .center3__text2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.main__center3 .center3__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: left;
  color: #000000;
}
.main__center3 .center3__description {
  width: 60%;
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  color: #555c62;
}
.main__center3 .center3__text3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.main__center3 .center3__text3 .center3__subtitle1 {
  margin: 2rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.2rem;
  text-align: left;
  color: #000000;
}
.main__center3 .center3__text3 .center3__subtitle2 {
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 3rem;
  text-align: left;
  color: #000000;
  cursor: pointer;
}
.main__center3 .center3__img {
  grid-column: 2/3;
  grid-row: 1/5;
}

.main__slider {
  width: 80%;
  max-width: 1600px;
  margin: 0.5rem auto;
}

.bx-wrapper {
  box-shadow: none;
  border: none;
  transition: all 0.4s ease;
}