/*** css import ***/
/*** css vars import ***/
/*** css vars ***/
/*** css reset ***/
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  color: inherit;
  display: flex;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

audio {
  display: flex;
}

body {
  font: normal normal normal 100%/140% "Helvetica", Arial, sans-serif;
  font-size: 16px;
  font-smooth: always;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

form input, form textarea, form select, form option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  display: block;
  font: normal normal normal 100%/140% "Helvetica", Arial, sans-serif;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

iframe {
  width: 100%;
  display: block;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  width: 100%;
}

p a {
  display: inline;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

video {
  display: flex;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
  overflow: auto;
}

/*** css vars ***/
/*** css mixins ***/
/*** css keyframes ***/
/*** fonts import ***/
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
/*** css body ***/
body {
  background-color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
}

/*** css header ***/
.header {
  width: 100%;
  background-color: yellow;
}
.header .header__container {
  margin: auto;
  max-width: 1200px;
  width: 80%;
  background-color: aquamarine;
}
.header .header__container .header__nav {
  width: 100%;
  background-color: azure;
}
.header .header__container .header__nav .header__list {
  line-height: 2rem;
  width: 100%;
  background-color: burlywood;
  align-content: initial;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.header .header__container .header__nav .header__list .header__item {
  width: 100%;
  background-color: cadetblue;
}