<header class="header">
    <div class="header__div">
        <h1><a href="https://www.pixar.com" title="https://www.pixar.com"><img src="../../../assets/img/logo5.png" alt="logo de Pixar"></a></h1>
        <nav>
            <ul class="header__list">
                <li class="header__item"><a href="#" title="feature films">{{item1}}</a></li>
                <li class="header__item"><a href="#" title="short films">{{item2}}</a></li>
                <li class="header__item"><a href="#" title="technology">{{item3}}</a></li>
                <li class="header__item"><a href="#" title="careers">{{item4}}</a></li>
                <li class="header__item"><a href="#" title="extras">{{item5}}</a></li>
                <li class="header__item"><a href="#" title="about">{{item6}}</a></li>
            </ul>
            <div class="header__bars"><a href="#" title="menu"><i class="fas fa-bars"></i></a></div>
        </nav>
    </div>
</header>