<!-- interpolación de las propiedades -->
<p>{{title}} from {{name}} with {{counter}} works!

    <!-- directiva 'ngIf' para visualización selectiva -->
    <span *ngIf="(counter % 2) === 0">EVEN</span>
    <span *ngIf="(counter % 2) !== 0">ODD</span>
</p>

<!-- eventos -->
<button type="submit" (click)="sumar()">Sumar</button>
<button type="submit" (click)="restar()">Restar</button>

<br>

<!-- interpolación de los atributos -->
<a href="{{web}}">{{web}}</a>
<br>
<a [href]="web">{{web}}</a>

<br>
<br>

<!-- directiva 'ngFor' para bucles -->
<span *ngFor="let item of listValues">{{item}}
    <fa-icon [icon]="faCoffee"></fa-icon>
    <br>
</span>

<!-- instalación FontAwesome -->
<!-- 
    https://github.com/FortAwesome/angular-fontawesome
    npm install @fortawesome/fontawesome-svg-core
    npm install @fortawesome/free-solid-svg-icons 
    npm install @fortawesome/angular-fontawesome@0.8.0
-->