* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img, video {
  width: 100%;
  display: block;
  object-fit: cover;
}

iframe {
  width: 100%;
  display: block;
}

form, input, textarea, select, option {
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: normal;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

body {
  background-color: lightcyan;
  width: 100%;
}

.main__container {
  margin: auto;
  padding: 2rem 0;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: initial;
}

.task__add {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.task__add [type=text] {
  background-color: #98ccf7;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}
.task__add [type=text]:focus {
  background-color: #7ab7e9;
}
.task__add [type=button] {
  background-color: white;
  border: 1px solid #7ab7e9;
  border-radius: 10px;
  color: #7ab7e9;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
}
.task__add [type=button]:hover {
  background-color: #7ab7e9;
  border: 1px solid white;
  color: white;
}

.task__todo {
  background-color: whitesmoke;
  border: 1px solid green;
  padding: 1rem;
  width: 100%;
}

.task__done {
  background-color: whitesmoke;
  border: 1px solid green;
  padding: 1rem;
  width: 100%;
}

.task__title {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.task__div {
  border: 1px solid lightgrey;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: initial;
}

.task__text {
  font-size: 1.5rem;
  width: 80%;
}

.task__text-done {
  text-decoration: line-through;
}

.task__remove {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.task__remove:hover {
  color: red;
}

.task__next {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.task__next:hover {
  color: greenyellow;
}

.task__back {
  color: greenyellow;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.task__back:hover {
  color: green;
}