// css reset

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

form, input, textarea, select, option {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: normal;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: initial;
}


// css body
body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

.header {
    width: 100%;
    background-color: #000000;
}

.header__div {
    width: 60%;
    max-width: calc(1920px * .9);
    margin: auto;

    @include flexible(row, nowrap, space-between, center);

    @media screen and (max-width:680px) {
        width: 100%;
    }
}

.header__bars {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: #ffffff;
    display: none;

    @media screen and (max-width:680px) {
        display: flex;
    }
}

.header__title {
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: .2rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: #ffffff;
}

.header-nav__list {
    @include flexible(row, nowrap, flex-start, center);

    @media screen and (max-width:680px) {
        display: none;
    }
}

.header-nav-list__item {
    margin: 0 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: calc(4rem - 3px);
    text-transform: capitalize;
    color: #ffffff;
    opacity: .8;
    border-bottom: solid 3px #000000;

    transition: all .4s ease;
}

.header-nav-list__item:hover {
    opacity: 1;
    border-bottom: solid 3px #336ef2;
}

// para alinear los iconos junto a las etiquetas y que no se bajen
.header-nav-list__item a {
    @include flexible(row, nowrap, center, center);
}

.header-search__list {
    @include flexible(row, nowrap, flex-end, center);

    @media screen and (max-width:680px) {
        display: none;
    }
}

.header-search-list__item {
    margin: 0 .5rem;
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: capitalize;
    color: #ffffff;

    transition: all .4s ease;
}

// para alinear los iconos junto a las etiquetas y que no se bajen
.header-search-list__item a {
    @include flexible(row, nowrap, center, center);
}

.search {
    padding: 0 .2rem;
    background-color: #504d56;

    transition: all .4s ease;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

.search:hover {
    background-color: #5d58f5;
}

.web {
    padding: 0 .2rem;
    background-color: #504d56;

    transition: all .4s ease;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

.web:hover {
    opacity: .8;
}

.like {
    @media screen and (max-width:1200px) {
        display: none;
    }
}
.main {
    width: 100%;
    min-height: 3vh;
    background-color: #ffffff;
}

.main__div {
    width: 100%;
    padding: 25rem 0;

    background-image: url("../img/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main__text {
    width: 20%;
    margin: 0 0 0 20%;
    color: #ffffff;

    @include flexible(column, nowrap, flex-start, flex-start);
}

.main__text p {
    font-size: 2rem;
}

.main__button {
    width: 50%;
    margin: 1rem 0;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #5d58f5;

    transition: all .4s ease;
}

.main__button:hover {
    background-color: #5865f5;
}

.main__images {
    width: 80%;
    max-width: 1600px;
    margin: 4rem auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    @media screen and (max-width:840px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.main__img {
    object-fit: scale-down; // las imágenes encajan
    background-color: #f1f5f9;
}

.main__title {
    padding-top: 1rem;
    font-size: .9rem;
    font-weight: 700;
    text-align: left;
}

.main__description {
    padding-top: .5rem;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: left;
    color: #747481;
}

.main__item-expand1 {
    font-size: 1.8rem;
    text-align: left;
    line-height: 3rem;
    padding: 4rem;
    color: #ffffff;
    background-color: #a46900;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    @media screen and (max-width:840px) {
        font-size: 1.4rem;
        padding: 1.5rem;
        line-height: 2rem;

        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
}

.main__item-expand2 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;

    @media screen and (max-width:840px) {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    @media screen and (max-width:480px) {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }
}

.main__item-camera1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    @media screen and (max-width:840px) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    @media screen and (max-width:480px) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

.main__item-camera2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media screen and (max-width:840px) {
        grid-column: 4 / 5;
        grid-row: 1 / 2
    }

    @media screen and (max-width:480px) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.main__item-camera3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @media screen and (max-width:840px) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    @media screen and (max-width:480px) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}

.main__item-camera4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    @media screen and (max-width:840px) {
        grid-column: 4 / 5;
        grid-row: 3 / 4
    }

    @media screen and (max-width:480px) {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
}


.footer {
    width: 100%;
    min-height: 15vh;
    background-color: #000000;
}

.footer-div__up {
    width: 60%;
    margin: auto;
    padding: 5vh 0;

    @include flexible(row, nowrap, space-around, baseline);
}

.footer__title {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: #878792;
}

.footer-up__list {
    @include flexible(column, nowrap, flex-start, flex-start);
}

.footer-list__item {
    margin: .2rem 0;
    font-size: .8rem;
    font-weight: 400;
    color: #ffffff;

    transition: all .4s ease;
}

.footer-list__item:hover {
    color: #878792;
}

.footer-div__down {
    width: 60%;
    margin: auto;
    padding-bottom: 2rem;

    @include flexible(row, nowrap, space-between, center);

    @media screen and (max-width:680px) {
        flex-flow: column nowrap;
    }
}

.footer__country {
    padding: 1rem 3rem;
    font-size: .8rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #878792;
    opacity: .8;

    transition: all .4s ease;
}

.footer__country:hover {
    opacity: 1;
}

.footer__contact {
    @include flexible(row, nowrap, flex-start, center);

    @media screen and (max-width:680px) {
        margin: 1rem 0;

        @include flexible(column, nowrap, flex-start, center);
    }
}

.footer-contact__item {
    margin: 0 1rem;
}

.footer__rrss {
    margin-left: 2rem;

    @include flexible(row, nowrap, flex-end, center);
}

.footer-rrss__item {
    padding: .5rem;
    margin: 0 .1rem;
    color: #ffffff;
    background-color: #878792;

    transition: all .4s ease;
}

.pn:hover {
    background-color: coral;
}

.fb:hover  {
    background-color: blue;
}

.go:hover {
    background-color: red;
}

.tw:hover {
    background-color: lightblue;
}

.footer__end {
    width: 100%;
    padding: 2rem 0rem 2rem calc(20%);
    border-top: solid 1px #878792;
    text-transform: uppercase;
    font-size: .6rem;

    @include flexible(column, nowrap, space-around, flex-start);
}

.footer-end__texto {
    color: #878792;
}

.footer-end__list {
    margin-top: .5rem;

    @include flexible(row, nowrap, flex-start, center);
}

.footer-end__item {
    color: #ffffff;
}