// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// css body

// contenedor principal
.main-container {
    background-color: white;
    height: 100vh;
    position: relative;
    width: 100%;

    // botón de apertura
    & .open-button {
        background-color: white;
        border: 2px solid black;
        color: black;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        right: 3rem;
    }

    // botón de apertura al pasar el ratón
    & .open-button--hover {
        background-color: black;
        border: 2px solid white;
        color: white;
    }
    
    // contenedor del menú
    & .menu-container {
        background-color: black;
        height: 100vh;
        position: relative;
        width: 100%;
    }

    // botón de cierre
    & .close-button {
        background-color: black;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        right: 3rem;
    }

    // botón de cierre al pasar el ratón
    & .close-button--hover {
        background-color: white;
        border: 2px solid black;
        color: black;
    }

    // lista de elementos
    & .menu-list {
        padding-top: 15rem;
        width: 100%;

        @include flexible(column, nowrap, center, center, initial);
    }

    // elemento del menú
    & .menu-item {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }
}