// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}


// css body
.course {
    background-color: darkgray;
    padding: 1rem 0;

    @include flexible(column, nowrap, center, center, initial);

    & .course-title {
        font-size: 1.5rem;
        font-weight: 800;
    }

    & .course-teacher {
        font-size: 1.2rem;
        font-weight: 500;
    }

    & .course-students {
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;
    }
}