* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

a {
    display: block;
}

p a {
    display: inline;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}


section.primero {
    width: 80%;
    background-color: salmon;
    margin: 0 auto;
}

section.primero article {
    width: 45%;
    background-color: sandybrown;
    float: left;
}

main.segunda {
    width: 90%;
    background-color: seagreen;
    margin: 0 auto;
}

main.segunda article {
    width: 30%;
    background-color: springgreen;
    float: left;
}

section.tercera {
    width: 80%;
    background-color: steelblue;
    margin: 0 auto;
}

section.tercera article {
    width: 20%;
    background-color: turquoise;
    float: left;
}

div.cuarta {
    width: 90%;
    background-color: violet;
    margin: 0 auto;
}

div.cuarta article {
    width: 17%;
    background-color: wheat;
    float: left;
}

article.quinta {
    width: 80%;
    background-color: yellowgreen;
    margin: 0 auto;
}

article.quinta p {
    width: 23%;
    background-color: yellow;
    float: left;
}

article.sexta {
    width: 90%;
    background-color: blueviolet;
    margin: 0 auto;
}

article.sexta h2 {
    width: 30%;
    background-color: cornflowerblue;
    float: left;
}

div.septimo {
    width: 80%;
    background-color: darkgrey;
    margin: 0 auto;
}

div.septimo div.columna {
    width: 90%;
    background-color: darkkhaki;
    margin: 0 auto;
}

div.septimo div.columna p {
    width: 40%;
    background-color: darkolivegreen;
    float: left;
}

div.octava {
    width: 90%;
    background-color: darkorange;
    margin: 0 auto;
}

div.octava a {
    width: 30%;
    background-color: darksalmon;
    float: left;
}

main.novena {
    width: 80%;
    background-color: deeppink;
    margin: 0 auto;
}

main.novena div.columna {
    width: 90%;
    background-color: firebrick;
    margin: 0 auto;
}

main.novena div.columna p {
    width: 30%;
    background-color: darkorchid;
    float: left;
}

main.decima {
    width: 90%;
    background-color: goldenrod;
    margin: 0 auto;
}

main.decima section {
    width: 80%;
    background-color: gold;
    margin: 0 auto;
}

main.decima section article {
    width: 80%;
    background-color: lightblue;
    margin: 0 auto;
}

main.decima section article div.columna {
    width: 40%;
    background-color: lightcoral;
    float: left;
}