/* css reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

form, input, textarea, select, option {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: normal;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}


/* css body */

// creamos un objeto con dos parámetros y varias propiedades
@mixin flexible($direccion, $multilinea, $justify-content, $align-item) {
    display: flex;
    flex-flow: $direccion $multilinea;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: initial;
}


// menú móvil
.header {
    width: 100%;
    min-height: 5vh;
}

.header__menu {
    padding: 1rem 0;

    @include flexible(row, nowrap, space-around, center);

    @media screen and (max-width:480px) {
        @include flexible(row, wrap, space-around, center);
        background-color: gainsboro;
    }
}

.header__logo {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header__icon {
    display: none;

    @media screen and (max-width:480px) {
        display: flex;
    }
}

.header__nav {

    @media screen and (max-width:480px) {
        display: none;
    }
}

.header__nav--show {
    width: 100%;
    display: flex;
}

.header__list {    
    @include flexible(row, nowrap, center, center);

    @media screen and (max-width:480px) {
        @include flexible(column, nowrap, center, center);
        margin: auto;
        padding: 1rem 0;
    }
}

.header__item {    
    margin: 0 1rem;
    font-weight: 700;
}

.header__item:hover a {    
    color: blue;
}


// slider
.main {
    width: 100%;
}

.container__slider {
    width: 45%;
    border-radius: 20px;
    margin: 5rem auto;
    overflow: hidden;

    position: relative;
}

.container__huge {
    width: 200%;
    margin: auto;

    @include flexible(row, nowrap, flex-start, center);
    transition: all .4s ease;
}

.container__huge--show2 {
    transform: translateX(-50%);
}

.slider__image {
    
    @media screen and (max-width:1980px) {
        max-width: 900px;
    }

    @media screen and (max-width:480px) {
        max-width: 180px;
    }
}

.arrow {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 20px;
    color: white;
    background-color: black;

    @include flexible(row, nowrap, center, center);
    transition: all .4s ease;

    position: absolute;
    top: calc(50% - 20px);

    cursor: pointer; // aparece el cursor como una mano
    opacity: .5;
}

.arrow:hover {
    transform: scale(.9); // efecto de contraerse al pasar el cursor
}

.arrow:active {
    transform: scale(1.1); // efecto de expandirse al pinchar
}

.arrow__left {
    left: 5%;
}

.arrow__left--hide {
    display: none;
}

.arrow__right {
    right: 5%;
}

.arrow__right--hide {
    display: none;
}