// import css reset
@import "reset.scss";


// function for flex position
@mixin flexible($direction, $wrap, $justify-content, $align-item, $align-content) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify-content;
    align-items: $align-item;
    align-content: $align-content;
}

body {
    background-color: lightcyan;
    width: 100%;
}

.main__container {
    margin: auto;
    padding: 2rem 0;
    width: 30%;

    @include flexible(column, nowrap, flex-start, flex-start, initial);
}

.task__add {
    width: 100%;

    @include flexible(row, nowrap, space-between, center, initial);

    & [type=text] {
        background-color: #98ccf7;
        border: 1px solid white;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
        width: 100%;

        &:focus {
            background-color: #7ab7e9;
        }
    }

    & [type=button] {
        background-color: white;
        border: 1px solid #7ab7e9;
        border-radius: 10px;
        color: #7ab7e9;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1rem;

        &:hover {
            background-color: #7ab7e9;
            border: 1px solid white;
            color: white;
        }
    }
}

.task__todo {
    background-color: whitesmoke;
    border: 1px solid green;
    padding: 1rem;
    width: 100%;
}

.task__done {
    background-color: whitesmoke;
    border: 1px solid green;
    padding: 1rem;
    width: 100%;
}

.task__title {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

.task__div {
    border: 1px solid lightgrey;
    padding: 1rem;

    @include flexible(row, nowrap, flex-start, center, initial);
}

.task__text {
    font-size: 1.5rem;
    width: 80%;
}

.task__remove {
    cursor: pointer;
    font-size: 1.5rem;    
    padding: 0 1rem;

    &:hover {
        color: red;
    }
}

.task__next {
    cursor: pointer;
    font-size: 1.5rem;    
    padding: 0 1rem;

    &:hover {
        color: greenyellow;
    }
}

.task__back {
    color: greenyellow;
    cursor: pointer;
    font-size: 1.5rem;    
    padding: 0 1rem;

    &:hover {
        color: green;
    }
}